<mat-card class="mt-2 w-100">

  <mat-card-header>
    <mat-card-title>{{ product.data.title }}</mat-card-title>
    <mat-card-subtitle class="mt-3"> {{ product.data.description }} </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="mt-3 w-100">

    <div>Id: {{ product.id }}</div>
    <div>Category: {{ product.data.category }}</div>
    <div>Price: {{ product.data.price }} </div>
    <div>Employee: {{ product.data.employee }} </div>

    <div class="row d-flex align-items-center">

      <div class="col">

        <mat-accordion>
          <mat-expansion-panel class="mt-4 w-75" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Show Reviews ({{ reviewsCount }})
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
              <div *ngFor="let review of product.data.reviews">
                <mat-divider></mat-divider>
                <div class="mt-1 w-100"> <p>{{ review }}</p></div>
              </div>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="col d-flex justify-content-end mt-4">
        <button mat-mini-fab color="warn" class="mr-4">
          <mat-icon (click)="deleteProduct(product)">delete</mat-icon>
        </button>
      </div>

    </div>
  </mat-card-content>

</mat-card>
