@import "./src/styles/global/base/_color";

footer {
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $grey-shade-light;
  color: black;
  text-align: center;
  margin: 0px;
}
